{% extends "base.html" %}

{% block title %}
    Recipe Search
{% endblock %}

{% block content %}
	<h1>Recipe Details</h1>
	<table>
		<tr>
            <th>Name:</th>
            <td>{{ recipe["name"] }}</td>
        </tr>
        
		<tr>
			<th>Description:</th>
			<td>{{ recipe["description"] }}</td>
		</tr>
		<tr>
			<th>Ingredients:</th>
			<td>
				{% for ingredient in recipe["ingredients"] %}
				{{ ingredient[0] }} {{ ingredient[1] }} {{ ingredient[2] }} <br>
				{% endfor %}
			</td>
		</tr>
		<tr>
			<th>Steps:</th>
			<td>
				{% for step in recipe["steps"] %}
				{{ step }}<br>
				{% endfor %}
			</td>
		</tr>
		<tr>
			<th>Dietary Restrictions:</th>
			<td>
				{{ recipe["pref"] }}
			</td>
		</tr>
	</table>
{% endblock %}

