{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<h1 align="center">Welcome to MealTime!</h1>
    <form action="#" align="center" method="post">
        <!-- Create text field for username -->
        <label for="nm">Username:</label>
        <input type="text" id="username" name="username"><br><br>

        <!-- Create text field for password -->
        <label for="password">Password:</label>
        <input type="password" id="password" name="password"><br><br>
        
        <!-- Create submit button -->
        <input type="submit" name="button" value="Submit">        
        
        <!-- Create create account button -->
        <input type="submit" name="button" value="Create Account">
      </form>
{% endblock %}