{% extends "base.html" %}
{% block title %}MealPlan{% endblock %}

{% block content %}
<style>
  table {
    width: 99%;
    border-collapse: collapse;
  }

  th, td {
    border: 1px solid black;
    padding: 10px;
    width: 100px;
    text-align: center;
  }

  h1 {
    text-align: center;
  }

  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  button {
    display: block;
    margin: 0 auto;
  }
</style>

<h1>Weekly Meal Plan</h1>

<table>
  <tr>
    <th></th>
    <th>Monday</th>
    <th>Tuesday</th>
    <th>Wednesday</th>
    <th>Thursday</th>
    <th>Friday</th>
    <th>Saturday</th>
    <th>Sunday</th>
  </tr>
  <tr>
    <th>Breakfast</th>
      {% for i in mealplan %}
        {% if loop.index0 == 7 %}
          </tr>
          <tr>
          <th>Lunch</th>

        {% elif loop.index0 == 14 %}
          </tr>
          <tr>
          <th>Dinner</th>

        {% endif %}

        {% if i != None: %}
          <td><a href="https://spoonacular.com/recipes/-{{  i.get('id')  }}" target="_blank"> {{ i.get('title') }} </a></td>
        {% else %}
          <td> Press Generate </td>
        {% endif %}
      {%endfor%}
  </tr>
</table>

<div class="button-container">
  <form method="POST">
    <button id="generate" type="submit" class="btn btn-primary btn-lg">Generate Meal Plan</button>
  </form>
</div>
{% endblock %}
