{% extends "base.html" %}
{% block title %}MealPlan{% endblock %}

{% block content %}
<style>
  table {
    width: 99%;
    border-collapse: collapse;
  }

  th, td {
    border: 1px solid black;
    padding: 10px;
    width: 100px;
    text-align: center;
  }

  h1 {
    text-align: center;
  }

  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  button {
    display: block;
    margin: 0 auto;
  }
</style>

<h1>Weekly Meal Plan</h1>

<table>
  <tr>
    <th></th>
    <th>Monday</th>
    <th>Tuesday</th>
    <th>Wednesday</th>
    <th>Thursday</th>
    <th>Friday</th>
    <th>Saturday</th>
    <th>Sunday</th>
  </tr>
  <tr>
    <th>Breakfast</th>
    <td><a href="/displayrecipe/{{  _mealplan[0]['_id']  }}">{{ _mealplan[0]["title"] }}</a></td>
    <td><a href="/displayrecipe/{{  _mealplan[1]['_id']  }}">{{ _mealplan[1]["title"] }}</a></td>
    <td><a href="/displayrecipe/{{  _mealplan[2]['_id']  }}">{{ _mealplan[2]["title"] }}</a></td>
    <td><a href="/displayrecipe/{{  _mealplan[3]['_id']  }}">{{ _mealplan[3]["title"] }}</a></td>
    <td><a href="/displayrecipe/{{  _mealplan[4]['_id']  }}">{{ _mealplan[4]["title"] }}</a></td>
    <td><a href="/displayrecipe/{{  _mealplan[5]['_id']  }}">{{ _mealplan[5]["title"] }}</a></td>
    <td><a href="/displayrecipe/{{  _mealplan[6]['_id']  }}">{{ _mealplan[6]["title"] }}</a></td>
  </tr>
  <tr>
    <th>Lunch</th>
    <td><a href="/displayrecipe/{{  _mealplan[7]['_id']  }}">{{ _mealplan[7]["title"] }}</a></td>
    <td><a href="/displayrecipe/{{  _mealplan[8]['_id']  }}">{{ _mealplan[8]["title"] }}</a></td>
    <td><a href="/displayrecipe/{{  _mealplan[9]['_id']  }}">{{ _mealplan[9]["title"] }}</a></td>
    <td><a href="/displayrecipe/{{  _mealplan[10]['_id']  }}">{{ _mealplan[10]["title"] }}</a></td>
    <td><a href="/displayrecipe/{{  _mealplan[11]['_id']  }}">{{ _mealplan[11]["title"] }}</a></td>
    <td><a href="/displayrecipe/{{  _mealplan[12]['_id']  }}">{{ _mealplan[12]["title"] }}</a></td>
    <td><a href="/displayrecipe/{{  _mealplan[13]['_id']  }}">{{ _mealplan[13]["title"] }}</a></td>
  </tr>
  <tr>
    <th>Dinner</th>
    <td><a href="/displayrecipe/{{  _mealplan[14]['_id']  }}">{{ _mealplan[14]["title"] }}</a></td>
    <td><a href="/displayrecipe/{{  _mealplan[15]['_id']  }}">{{ _mealplan[15]["title"] }}</a></td>
    <td><a href="/displayrecipe/{{  _mealplan[16]['_id']  }}">{{ _mealplan[16]["title"] }}</a></td>
    <td><a href="/displayrecipe/{{  _mealplan[17]['_id']  }}">{{ _mealplan[17]["title"] }}</a></td>
    <td><a href="/displayrecipe/{{  _mealplan[18]['_id']  }}">{{ _mealplan[18]["title"] }}</a></td>
    <td><a href="/displayrecipe/{{  _mealplan[19]['_id']  }}">{{ _mealplan[19]["title"] }}</a></td>
    <td><a href="/displayrecipe/{{  _mealplan[20]['_id']  }}">{{ _mealplan[20]["title"] }}</a></td>
  </tr>
</table>

<div class="button-container">
  <form method="POST">
    <button id="generate" type="submit" class="btn btn-primary btn-lg">Generate Meal Plan</button>
  </form>
</div>
{% endblock %}
